<!-----------------------------尾部start----------------------------->
<section id="myFooter">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-4 d-none d-sm-none d-md-none d-lg-block">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class=" col-lg-6 textLink">
                            <ul>
                                <li><a href="">关于我们</a></li>
                                <li><a href="">课程介绍</a></li>
                                <li><a href="">热门课程</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 textLink">
                            <ul>
                                <li><a href="">名师授课</a></li>
                                <li><a href="">课堂互动</a></li>
                                <li><a href="">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <h6>公司地址: 上海市松江区松江大学城</h6>
                <h6>联系电话: 六个六</h6>
                <h6>地址邮箱: admin@itlike.com</h6>
            </div>
            <div class="col-lg-3 col-md-6 d-none d-sm-none d-md-none d-lg-block">
                <h6>联系我们:</h6>
                <a href=""><img src="../images/weixin-h.png" width="50" alt="" data-toggle="tooltip"
                                data-placement="bottom" title="itlike001"></a>
                <a href=""><img src="../images/xinlang-h.png" width="50" alt="" data-toggle="tooltip"
                                data-placement="bottom" title="weibo"></a>
            </div>
        </div>
    </div>

</section>
<!-----------------------------尾部end----------------------------->
